/* task(1) */
.one,
.two,
.three{

    width: 300px;
    height: 60px; 
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}
.one,
.three{
    background-color: rgb(245, 239, 231);
    border: 2px rgb(245, 239, 231) solid;
}
.two{

    background-color:red ;
    border: 2px red solid;
}
/* task(2) */
p{
    display: grid;
    position: relative;
      margin:20px auto;
      padding: 10px;
      background-color:rgba(220, 216, 213, 0.856) ;
      width:350px ;
      height: 50px;
      border-left:5px solid rgb(173, 14, 89) ;
    
}
p::before
{
    content:attr(data-person);
    position: absolute;
    width:50px ;
    height: 50%;
    padding: 5px;
    background-color:rgba(220, 216, 213, 0.856) ; 
    left: -120px;
    margin :20px;
}
 p::after
{   content:" ";
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color:transparent rgb(173, 14, 89) transparent transparent ;
    width: 0;
    height: 1px;
    bottom: 50%;
    left:-14px ;

}

/* task(3) */

.task_3{
    display: inline-block;
    counter-increment: number;
     width:100px ;   
     height:100px ; 
    border: solid 2px black;
    border-radius: 50%;
    background-color:rgba(201, 198, 196, 0.856) ;
     text-align: center;
    margin-right: 50px;
    box-shadow: -6px -6px  rgb(207, 21, 108),
                 6px 6px rgb(54, 54, 176) ;
                
}
.t3{
    position: relative;
}


.task_3::before
{   display:flex;
    justify-content:center;
    content: counter(numbers);
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    border-radius: 20px;
    top: -10px;
}
.task_3::after
{
    display:flex;
    justify-content:center;
    content: "ELement";
    position: absolute;
    margin:auto;
    margin: 10px;
    padding: 8px;
    padding-top: 15px;
    Top:10px;
    font-size: large;
    font-weight: 150px;
}
/*Task4*/
.Task-4
{ display:flex;
    justify-content:space-between;
    position: relative;
    width: 550px;
    margin: auto;
}
.part-1
{
    background-color:rgba(196, 193, 193, 0.644);
    width: 400px;
    height: 240px;
    text-align: center;
    padding:20px;
}
.top
{   margin: auto;
    padding: 10px;
    color: white;
    border-radius: 8px;
    text-align: center;
    background-color:#03a9f4;
    border-radius: 5px;
    width:90%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: bold;
}
.information
{ display: flex;
    justify-content: center;
     margin: auto;
     width: 80%;
     height:40%;
    text-align: center;
    border-radius: 60%;
    background-color:rgba(183, 178, 178, 0.753);
    font-weight: 200px;
    font-size: xx-large;
  margin-top: 40px;
    padding: 30px;
}
.line
 {
    border: #03a9f4 1px solid;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.line::before
 {
    content: "or";
    background-color: #03a9f4;
    text-align: center;
    color: #fff;
    height: 300px;
    border-radius: 50%;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }